.master-container{
    background-color: lightblue;
    opacity:100%;
    padding-top: 0px;
    gap: 5px;
    height: 80vh;
    width: 90vw;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: start;
}