.master-container{
    background-color: white;
    opacity:100%;
    padding: 1vh;
    gap: 1vw;
    height: 70vh;
    width: 90vw;
    margin-left: 4.2vw;
    margin-right: 4.2vw;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: start;
    border-radius: 20px;
}