.post-editor{
    background-color: aqua;
    height: 60vh;
    max-height: 60vh;
    width: 60vw;
    border:2px;
    display:flex;
    flex-flow: row wrap;
}

.post-title{
    width: 30vw;
    margin-right: 30vw;
    height: 5vh;
    margin-bottom: 2vh;
}

.post-description{
    margin-top: 2vh;
    width: 30vw;
    height: 20vh;
    margin-right: 30vw;
}

.file-upload{
    display:none;
}

.text-entries{
    width: 30vw;
}

.image-renderer{
    width: 30vw;
    display:flex;
}

.file-upload-display{
    width:30vw;
    height:auto;
}

.image-display{
    width: 30vw;
    height: 60vh;
    object-fit: fill;
}