.user-editor{
    background-color: black;
    height: 120vh;
    width: 60vw;
    border:2px;
    display:flex;
    flex-flow: row wrap;
}

.edit-user {
    background-color: white;
    height: 25vh;
    width: 50vw;
    margin-top: 10px;
    margin-left: 10px;
}